[Desktop Entry]
Type=Application
Name=mvad
GenericName=Mullvad VPN
Comment=Mullvad VPN client
Exec=mvad-gui
Icon=mvad
Terminal=false
Categories=Network;
Keywords=VPN;Mullvad;WireGuard;
StartupNotify=true
StartupWMClass=mvad
